body {
    background-color: white;
    padding: 0%;
    margin: 0%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #D4d4d4;
    background-color: #Ff0048;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 5em;
    margin: 0%;
}

.nav-bar-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #aa0030;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding-left: 0%;
}

li{
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0%;
    cursor: pointer;
}

a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    color: whitesmoke;
    cursor: pointer;
}

li:hover{
    color: whitesmoke;
    cursor: pointer;
}

.subheading{
    text-align: center;
}

/* Task 1 */
.Task_1{
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    margin-top: 0%;
    padding-top: 2%;
}

.Pic-task1-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Task 2 */
.Task_2{
    height: 700px;
    align-items: center;
    justify-content: center;
}

.Pic-task2-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Task 3 */

.Task_3{
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    margin-top: 0%;
    padding-top: 2%;
}

/* Task 4 */

.Task_4{
    height: 700px;
    
    align-items: center;
    justify-content: center;
}