body {
    background-color: white;
    padding: 0%;
    margin: 0%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 5%;
    font-size: 5em;
}






#nav_bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding-bottom: 5%;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding-left: 0%;
}

li{
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0%;
}





.subheading{
    text-align: center;
}







.Task_1{
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

#Pic_task1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
}








.Task_2{
    height: 700px;
    align-items: center;
    justify-content: center;
}

#Pic_task2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: space-evenly;
}








.Task_3{
    height: 700px;
    
    align-items: center;
    justify-content: center;
}

.Task_4{
    height: 700px;
    
    align-items: center;
    justify-content: center;
}