body {
    background-color: white;
    padding: 0%;
    margin: 0%;
}

h1{
    text-align: center;
}

.nav_bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}

.Task_1{
    background-color: #E24748;
    display: flex;
}

.Task_3{
    background-color: #E24748;
    display: flex;
}

